/* font-import, damit dieser immer heruntergeladen werden kann */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600;700&display=swap');

/* global */
html {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    background-color: hsl(210, 46%, 95%);

}

img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

/* screensize: 1440 */
@media only screen and (min-width: 375px) {
    /* main body */
    .grids {
        display: flex;
        margin: 5% 15%;
    }

    .name {
        display: flex;
    }

    .name img {
        margin-right: 15px;
    }

    .mainText {
        font-size: 1.2rem;
        padding-bottom: 10px;
    }


    /* left side */
    .gridLeft {
        display: grid;
        grid-template-columns: repeat(3, 270);
        grid-template-rows: 320px 320px;
        grid-gap: 20px;
    }

    /* grids */
    .upperLeft {
        grid-area: 1/1/1/3;
        background-image: url(../images/bg-pattern-quotation.svg);
        background-position: top left 80%;
        background-repeat: no-repeat;
        background-color: hsl(263, 55%, 52%);
    }

    .upperMid {
        grid-area: 1/3/1/4;
        background-color: hsl(217, 19%, 35%);
    }

    .bottomLeft {
        grid-area: 2/1/2/2;
        background-color: hsl(0, 0%, 100%);
    }

    .bottomMid {
        grid-area: 2/2/2/4;
        background-color: hsl(219, 29%, 14%);
    }

    .name span {
        font-weight: 600;
    }

    .name span .verified {
        font-size: .85rem;
        opacity: 50%;
    }

    .bigHeadline p {
        font-size: 1.8rem;
        font-weight: 700;
    }

    /* right side */
    .gridRight {
        display: grid;
        grid-template-rows: 2fr;
        margin-left: 15px;
    }

    .upperRight {
        grid-area: 1/1/2/2;
        width: 260px;
        background-color: hsl(0, 0%, 100%);
        margin-left: 10px;
    }

    .upperRight .mainText  {
        height: 383px;
    }
}

/* screensize: 375 */
/* Mein Browser kann nur auf knapp unter 700px, deshalb immer mit 700px geprüft. */
@media only screen and (max-width: 375px) {
    .grids {
        display: flex;
        flex-direction: column;
        width: 330px;
        
    }

    .gridLeft {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .gridRight {
        margin-left: -10px;
    }

    .upperLeft, .upperMid, .bottomLeft, .bottomMid {
        margin-bottom: 20px;
    }

}
/* specials */
.whiteSpace {
    padding: 30px;
}

.borderRounded {
    border-radius: 10px;
}

.whiteBackground {
    color: grey;
}